@import "/common-style.css";

section {
  max-width: 1240px;
  margin: 0 auto;
}

.project-list-area {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.project-card {
  border: 1px solid lightgray;
  border-radius: 6px;
}

.project-detail {
  padding: 15px;
}

.project-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.project-content h2 {
  font-size: 1.2rem;
  font-weight: 600;
}
.project-content p {
  font-size: 0.9rem;
  font-weight: 500;
}

@media (max-width: 768px) {
  body {
    padding: 0 20px;
  }
}
