@import url("https://fonts.googleapis.com/css2?family=Atomic+Age&display=swap");
@import "../../../common-style.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Atomic Age", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 2.5%;
  background-color: #f2cea6;
}

.container {
  position: relative;
  display: grid;
  grid-template-rows: 96px auto;
  row-gap: 1.9rem;
  grid-template-columns: minmax(200px, 239px);
  background-color: #e3deda;
  border-radius: 15px;
  padding: 50px 12px 35px 12px;
}

.output {
  border: 6px solid #1a1a1a;
  border-radius: 6px;
  box-shadow: inset 0 3px 3px #717161;
  background-color: #bfbfa2;
  padding: 15px 7px 5px 7px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.result {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.4rem;
  text-align: right;
}

.input {
  font-size: 1.19rem;
  line-height: 1.6rem;
  color: #3b383d;
  text-align: left;
  display: flex;
  align-items: center;
  word-spacing: -7px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  align-items: center;
  gap: 0.6rem;
  background-color: #cec0b6;
  padding: 11px 7px;
  border-radius: 6px;
}

button {
  /* height: 45px;
  width: 45px; */
  /* min-height: 78px; */
  border: none;
  outline: none;
  background-color: #f5f0eb;
  font-size: 1.28rem;
  font-weight: 500;
  padding: 11px 0;
  border-radius: 6px;
  transition: all 0.2s ease-in-out;
  font-family: "Atomic Age", cursive;
  box-shadow: 2px 2px 0px 1px #877f79;
  cursor: pointer;
  position: relative;
}

button[data-number] {
  background-color: #f5f0eb;
  color: #b14f1e;
  /* box-shadow: inset 0 0 0 8px #e4d8ca; */
  outline: solid 8px #e4d8ca;
  outline-offset: -8px;
}

button[data-all-clear] {
  background-color: #db6429;
  color: #f5f0eb;
  /* box-shadow: inset 0 0 0 8px #b14f1e; */
  outline: solid 8px #b14f1e;
  outline-offset: -8px;
}

button[data-operation],
button[data-delete] {
  background-color: #eab071;
  color: #f5f0eb;
  /* box-shadow: inset 0 0 0 8px #e39744; */
  outline: solid 8px #e39744;
  outline-offset: -8px;
}

button[data-equals] {
  background-color: #a49daa;
  color: #f5f0eb;
  /* box-shadow: inset 0 0 0 8px #8a8192; */
  outline: solid 8px #8a8192;
  outline-offset: -8px;
}

button:active {
  box-shadow: 0px 0px 0px 0px #877f79;
  transform: translate(2px, 2px);
}
button:hover {
}

.span-two {
  grid-column: span 2;
}

.badge {
  position: absolute;
  left: 10%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 50px;
  gap: 0.19rem;
}

.badge .badge-item {
  width: 8px;
}

.badge .badge-item.red {
  background-color: #e54d3f;
}

.badge .badge-item.yellow {
  background-color: #e7c22c;
}

.badge .badge-item.blue {
  background-color: #005eab;
}
