:root{
    --secondary-color: #25f3d0;
    --primary-color: #0c6858;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #999;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    width:70%;
    height:850px;
    background: white;
    box-shadow: 0 1px #333;
}

.main{
    padding: 15px;
}

.banner{
    background: var(--primary-color);
    color: white;
    padding: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.field-area{
    display: flex;
    justify-content: center;
    align-items: center;
}

.field-area textarea{
    width: 49%;
    resize: none;
    border-width: 2px;
    border-color: var(--primary-color);
    border-radius: 5px;
}

#rightArea{
    margin-left: 5px;
}

.action-area{
    margin: 10px 0;
    display: flex;
    justify-content: end;
    align-items: center;
}

.selector-label{
    color: var(--primary-color);
    font-weight: 500;
}

#selector{
    padding:5px;
    font-size: 16px;
    color:var(--primary-color);
    border-color: var(--primary-color);
    border-width: 2px;
    border-radius: 4px;
    margin-left: 4px;
}
#intersectionBtn{
    padding:5px;
    font-size: 16px;
    background: var(--primary-color);
    color: white;
    border-radius: 5px;
    margin-left: 5px;
    cursor: pointer;
}

#result{
    width: 99%;
    resize: none;
    border-width: 2px;
    border-color: var(--primary-color);
    border-radius: 5px;
}