@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



html {
  font-size: 14px;
}

body {
  font-family: 'Raleway', Fallback, sans-serif;
  margin: 1.5% 3%;
  background-color: #f8f9fc;
}

.main {}

.progress-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.progress-container h2 {
  margin-bottom: 10px;
  color: #02203c;
  font-weight: 400;
  line-height: 1.3;
  text-align: center;
}

.progress-container .progress {
  height: 25px;
  width: 485px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  box-shadow: 1px 1px 1px 1px rgb(100 100 100 / 20%) inset;
  background-color: #f5f5f5;
  border-radius: 4px;
}

.progress-container .progress .progress-bar {
  line-height: 25px;
  height: 100%;
  text-align: center;
  background-color: #00334c;
  width: 30%;
  position: absolute;
}

.progress-container .progress .progress-percent {
  position: absolute;
  color: #00334c;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  width: 485px;
}

.tab-container {
  padding-top: 2rem;
  padding-bottom: 2rem;
  max-width: 550px;
  margin: 0 auto;
}

.tab-container .btn-group {
  border: 1px dashed #00334c;
  width: 100%;
  display: flex;
  border-radius: 4px;
}

.tab-container .btn {
  border: none;
  outline: none;
  color: #11967e;
  background: transparent;
  border-radius: 4px;
  padding: 15px 0;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
  flex-grow: 1;
  transition: all 0.4s ease-out;
}

.tab-container .btn:hover {
  color: #000;
}

.tab-container button.btn.selected {
  background-color: #fff;
  box-shadow: 0 2px 4px rgb(50 50 93 / 10%);
}

/* wrapper styles */
#wrapper {
  padding-top: 2rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
}

.category h2 {
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  user-select: none;
  letter-spacing: 0.2px;
  word-spacing: -10px;
  margin-bottom: 0.8rem;
}

.category {
  margin: 0 15px 30px 0;
}

.question {
  margin-top: 10px;
  background-color: #fff;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);

  display: grid;
  grid-template-rows: 48px;
  align-items: center;
  grid-template-columns: repeat(7, 1fr);
  grid-template-areas: "alias-status alias-q-name alias-q-name alias-q-name alias-q-name . alias-dragger";
}

.status {
  grid-area: alias-status;
  justify-self: center;

  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid rgba(103, 114, 229, 0.3);
  background-color: transparent;
}

.status.correct {
  background-color: rgb(77, 171, 154, 0.5);
  /*#4DAB9A;*/
  /* box-shadow: 0 1px 2px -1px rgb(0 0 0 / 50%); */
}

.status.partially-correct {
  background-color: rgb(255, 220, 73, 0.5);
  /*#FFDC49;*/
  /* box-shadow: 0 1px 2px -1px rgb(0 0 0 / 50%); */
}

.status.incorrect {
  background-color: rgb(255, 115, 105, 0.5);
  /*#FF7369;*/
  /* box-shadow: 0 1px 2px -1px rgb(0 0 0 / 50%); */
}

.question-name {
  grid-area: alias-q-name;

  font-weight: 600;
  font-size: 1rem;
  line-height: 21px;
  color: #00334c;
}

.dragger-item {
  grid-area: alias-dragger;

  height: 100%;
  width: 83%;
  box-shadow: 8px 0 0 0 #0c6858;
  background: #11967e;
  border-radius: 0 4px 4px 0;
  cursor: grab;
}

.dragger-item:active {
  cursor: grabbing;
}