@import "../../common-style.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
.search-div {
  height: 240px;
  width: 100%;
  /* background-color: #ececec85; */
  background-image: linear-gradient(to left, #00b4db, #0083b0);
  margin: 0 auto;
}

.title {
  text-align: center;
  padding-top: 15px;
  font-size: 24px;
  color: white;
  word-spacing: 5px;
}

form {
  padding-top: 55px;
  text-align: center;
  width: 400px;
  margin: 0 auto;
}
.form-group {
  position: relative;
}
.form-group input {
  border: none;
  outline: white;
  padding: 13px;
  border: 1px solid #dedede;
  border-radius: 26px;
  width: 100%;
  font-size: 16px;
}
.form-group .submit-btn {
  position: absolute;
  top: 3px;
  right: 4px;
  border: none;
  outline: none;
  padding: 9.5px 23px;
  border: 1px solid #dedede;
  border-radius: 26px;
  cursor: pointer;
  font-size: 16px;
  background-color: rgb(37, 193, 255);
  color: white;
  transition: all 0.2s ease;
}
.form-group .submit-btn:hover {
  background-color: rgb(45, 172, 223);
}
.result-div {
  width: 100%;
  height: 423px;
  /* background-color: #5c3fff96; */
  background-image: linear-gradient(to top, #2193b0, #6dd5ed);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(255, 255, 255, 0.959);
}
.result-div-inner {
  margin: 5px;
}
.result-div-inner img {
  width: 100%;
  color: blue;
  /* background-color: yellow; */
}

@media (max-width: 375px) {
  form {
    width: 350px;
  }
  .form-group input {
    padding: 10px;
    border-radius: 26px;
    font-size: 14px;
  }
  .form-group .submit-btn {
    top: 3px;
    right: 4px;
    padding: 6.5px 18px;
    border-radius: 26px;
  }
  .title h1 {
    font-size: 30px;
  }
}

@media (max-width: 325px) {
  form {
    width: 300px;
  }
  .title h1 {
    font-size: 26px;
  }
}
