@import "../../common-style.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ebf0f7c0;
  margin: 0 20px;
}

.main-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* position: relative; */
}
.title {
  font-size: 26px;
  margin-bottom: 60px;
  position: relative;
}

.title::after {
  content: "";
  width: 50px;
  height: 3px;
  border-radius: 3px;
  background-color: royalblue;
  position: absolute;
  top: 40px;
  left: 33%;
}

.indicators {
  position: absolute;
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prev,
.next {
  font-size: 30px;
  font-weight: 300;
  opacity: 0.7;
  padding: 5px 6px;
  background-color: rgba(224, 227, 238, 0.747);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.prev:hover,
.next:hover {
  background-color: rgba(202, 202, 226, 0.856);
}

.testimonial-container {
  background-color: #fff;
  max-width: 320px;
  min-width: 150px;
  min-height: 390px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 8px;
}
.quote {
  color: rgba(138, 233, 138, 0.795);
}
.testimonial-text {
  line-height: 1.8em;
  word-spacing: 0.1em;
  font-size: 16px;
  font-weight: 400;
  margin-top: 25px;
  color: #6d6a6ad7;
}

.hr-line {
  border-top: 0.1px solid rgba(128, 128, 128, 0.11);
  margin: 25px 0 5px 0;
  width: 100%;
}
.prfile-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  justify-content: space-between;
}
.img-container {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.img-container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  position: relative;
}

.info-container .name {
  font-size: 17px;
  text-transform: capitalize;
  margin-left: 20px;
}
.info-container .job-title {
  font-size: 13px;
  font-weight: 400;
  text-transform: capitalize;
  margin-left: 20px;
}

@media (max-width: 560px) {
  .indicators {
    width: 98%;
  }
}
